[Desktop Entry]
Version=1.0
Name=UPReader
GenericName=Google Reader Client
Comment=View your Google Reader feeds
Type=Application
Icon=ubuntu-browser
Exec=UPReader
Terminal=false
Categories=Network;WebBrowser;
Keywords=Internet;RSS;Feeds;Web;Explorer
