[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=UPReader
Exec=UPReader
Icon=ubuntu-qmlrunn
X-Window-Icon=ubuntu-qmlrunner
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Name[en_ZA]=up-reader
